// Fonts
@font-face {
    font-family: "SolaimanLipi";
    src: url("../fonts/SolaimanLipi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    font-family: "SolaimanLipi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

:root {
    --navy-blue: #114fa1;
    --sky-blue: #00acee;
    --dark: #161616;
    --dark-2: #545e78;
    --red: #ea1c23;
}

.text-navy-blue {
    color: var(--navy-blue);
}

.text-sky-blue {
    color: var(--sky-blue);
}

.text-dark {
    color: var(--dark);
}

.text-dark-2 {
    color: var(--dark-2);
}

.text-red {
    color: var(--red);
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 62px;
    line-height: 1.2;
        
    @media (max-width: 1199px) {
        font-size: 52px;
    }
    @media (max-width: 991px) {
        font-size: 42px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
    }
}

h2 {
    font-size: 48px;
    line-height: 1.2;

    @media (max-width: 1199px) {
        font-size: 36px;
    }
    @media (max-width: 991px) {
        font-size: 32px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

h3 {
    font-size: 36px;
    line-height: 1.2;

    
    @media (max-width: 1199px) {
        font-size: 32px;
    }
    @media (max-width: 991px) {
        font-size: 28px;
    }
    @media (max-width: 767px) {
        font-size: 26px;
    }
}

p {
    font-size: 16px;
    @media (max-width: 1199px) {
        font-size: 36px;
    }
    @media (max-width: 991px) {
        font-size: 32px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
}

.mb-40 {
    margin-bottom: 40px;
}

.section-padding {
    padding-block: 96px;
    @media (max-width: 1199px) {
        padding-block: 80px;
    }

    @media (max-width: 991px) {
        padding-block: 60px;
    }

    @media (max-width: 767px) {
        padding-block: 48px;
    }
}

// Header styles
.site-header {
    .navbar-brand {
        img {
            @media (max-width: 991px) {
                max-width: 200px;
            }
            @media (max-width: 767px) {
                max-width: 160px;
            }
        }
    }
    .navbar {
        .navbar-nav {
            display: flex;
            gap: 24px;
            @media (max-width: 767px) {
                gap: 12px;
                padding-top: 24px;
            }
            .nav-item {
                .nav-link {
                    font-size: 22px;
                    line-height: 1.4;
                    padding: 0;
                    color: var(--dark);
                    transition: color 0.2s ease-in-out;
                    
                    @media (max-width: 767px) {
                         font-size: 18px;
                    }
                }

                &:hover {
                    .nav-link {
                        color: var(--sky-blue);
                    }
                }
            }
        }
    }
}

// Banner
.home-banner {
    background: url("../images/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 68vh;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-block: 160px;

    @media (max-width: 991px) {
        min-height: auto;
        padding-block: 100px;
    }
    @media (max-width: 767px) {
        padding-block: 80px 60px;
    }

    .slider-content-area {
        color: var(--navy-blue);

        .sub-title {
            margin-bottom: 10px;
            display: inline-block;
        }

        h1 {
            margin-bottom: 6px;
        }

        p {
            font-size: 24px;
            line-height: 1.3;
            max-width: 340px;
            @media (max-width: 1199px) {
                font-size: 22px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}

#banner-slider {
    .splide__arrows {
        .splide__arrow {
            width: 60px;
            height: 60px;
            background: hsla(214, 81%, 35%, 0.13);
            opacity: 0.5;
            backdrop-filter: blur(2px);
            transition: background 0.2s linear;
            

            svg * {
                fill: hsla(214, 81%, 35%, 0.61);
                transition: background 0.2s linear;

                @media (max-width: 991px) {
                    width: 24px;
                    height: 24px;
                }
            }
            &:hover {
                background: hsla(214, 81%, 35%, 0.61);
                svg * {
                    fill: hsla(0, 0%, 100%);
                }
                
            opacity: 1;
            }

            @media (max-width: 991px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}
// .section-heading {
// }
.sub-title {
    background-color: rgba(17, 79, 161, 0.09);
    padding: 3px 10px;
    border-radius: 999px;
    color: var(--navy-blue);
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

// Button style
/* Glass Morphism Button */
.common-button {
    font-size: 20px;
    padding: 8px 24px;
    border: none;
    border-radius: 999px;
    background: var(--sky-blue);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background: var(--navy-blue);
    }
}

// Our services area
.our-services-area {
    // background: linear-gradient(180deg, rgba(0, 163, 255, 0.10) 0%, rgba(0, 163, 255, 0.00) 100%);
    background: linear-gradient(
        180deg,
        rgba(255, 139, 5, 0.04) 80.22%,
        rgba(255, 139, 5, 0) 100%
    );
    .section-heading {
        .sub-title {
            background: hsla(32, 100%, 51%, 0.15) !important;
            color: #ff8b05 !important;
        }
    }

    .our-services-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @media (max-width: 991px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        .our-services-item {
            padding: 32px 24px 48px;
            border-radius: 24px;

            &.yellow-card {
                border: 1px solid rgba(255, 139, 5, 0.3);
                background: linear-gradient(
                    180deg,
                    rgba(255, 139, 5, 0.1) 0%,
                    rgba(255, 139, 5, 0) 100%
                );
            }
        }
    }
}

// Services area
.services-area {
    background: linear-gradient(
        180deg,
        rgba(0, 163, 255, 0.1) 0%,
        rgba(0, 163, 255, 0) 100%
    );
    .services-card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    .services-card {
        width: calc(33.95% - 24px);
        flex-shrink: 0;
        padding: 24px 24px 32px 24px;
        border-radius: 24px;
        border: 1px solid #eeeff1;
        background: #fff;
        border-radius: 24px;
        height: 100%;
        /* Box Shadow 1 Hover */
        box-shadow: 0 40px 60px 0 rgba(0, 0, 52, 0);
        transition: all 230ms ease-in-out;
        position: relative;
        overflow: hidden;
        z-index: 1;
        
        @media (max-width: 991px) {
            width: calc(49.95% - 24px);
        }
        @media (max-width: 575px) {
            width: calc(100%);
        }

        &:hover {
            box-shadow: 0 40px 60px 0 rgba(0, 0, 52, 0.12);
            border: 1px solid #00a3ff;

            &::before {
                right: -80px;
                filter: blur(0px);
                opacity: 0.2;
            }
        }

        .service-icon {
            margin-bottom: 24px;
        }
        .service-heading {
            color: var(--navy-blue);
            font-weight: 700;
            margin-bottom: 16px;
        }
        .service-description {
            font-size: 22px;
            line-height: 1.3;
            @media (max-width: 991px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
            }
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        &::before {
            position: absolute;
            content: "";
            right: -200px;
            bottom: -80px;
            width: 240px;
            height: 240px;
            background: url("../images/service-icon-1.svg");
            background-repeat: no-repeat;
            background-size: contain;
            filter: blur(10px);
            z-index: -1;
            opacity: 0;
            transition: 380ms linear;
        }
    }
}

// Our Achievement area
.our-achievement-area {
    background: linear-gradient(180deg, rgba(0, 163, 255, 0.10) 0%, rgba(0, 163, 255, 0.00) 100%);

    .row {
        --bs-gutter-y: 24px;
    }
    .our-achievement-item {
        padding: 4px;
        .our-achievement-image img {
            border-radius: 20px 20px 0 0;
            width: 100%;
        }
        border-radius: 24px;
        border: 1px solid #eeeff1;
        background: #fff;
        box-shadow: 0 30px 40px 0 rgba(0, 0, 52, 0.08);

        .our-achievement-content {
            padding: 20px 20px 24px 20px;

            .our_achievement_heading {
                color: var(--dark);
                margin-bottom: 12px;
                font-weight: 600;
            }

            .our_achievement_description {
                font-size: 18px;
            @media (max-width: 767px) {
                font-size: 16px;
            }
            }
        }
    }
}

// Achievement
.achievement {
    background: rgba(0, 163, 255, 0.1);
    #achievement-slider {
        .splide__track {
            .splide__list {
                .splide__slide {
                    height: 100%;
                }
            }
        }

        .achievement-slide-item {
            border-radius: 12px;
            border: 2px solid #fff;
            background-color: #fff;
            height: 100%;

            .achievement-image {
                img {
                    border-radius: 12px 12px 0 0;
                    width: 100%;
                }
            }
            .achievement-slide-content {
                padding: 16px 16px 24px 16px;

                .achievement-slide_heading {
                    color: var(--navy-blue);
                    font-weight: 700;
                    margin-bottom: 16px;
                }
                .achievement-slide_description {
                    font-size: 22px;
                    line-height: 1.3;

                    @media (max-width: 991px) {
                        font-size: 20px;
                    }
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                    @media (max-width: 575px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// Contact
.contact-area {
    .row {
        --bs-gutter-y: 48px;
    }
    .contact-info-area {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width: 991px) {
            gap: 24px;
        }
        .single-contact-info {
            .contact-info-icon {
                max-width: 80px;
            }
            a {
                font-size: 24px;
                color: var(--navy-blue);
                line-height: 1.3;
                text-decoration: none;
                @media (max-width: 991px) {
                    font-size: 20px;
                }
            }
            span {
                font-size: 24px;
                color: var(--navy-blue);
                line-height: 1.3;
                text-decoration: none;
                @media (max-width: 991px) {
                    font-size: 20px;
                }
            }
            .contact-info-label {
                font-size: 20px;
                color: var(--dark-2);
                @media (max-width: 991px) {
                    font-size: 18px;
                }
            }
        }
    }

    .contact-form-wrap {
        .row {
            --bs-gutter-y: 16px;
        }
        textarea {
            min-height: 160px !important;
            resize: none;
        }
        .form-control {
            border-radius: 8px;
            border: 1px solid var(--dark-2);
            padding: 10px 16px;
            font-size: 20px;
            color: var(--dark);
            transition: all 0.2s ease-in-out;
            &::placeholder {
                color: var(--dark-2);
            }
            &:focus {
                outline: none;
                border: 1px solid var(--sky-blue);
                box-shadow: none;
            }
        }
    }
}

// Clients slider area
.clients-slider-area {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: 2;

        @media (max-width: 991px) {
            width: 160px;
        }
        @media (max-width: 767px) {
            width: 60px;
        }
    }
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background: linear-gradient(
            270deg,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: 2;
        @media (max-width: 991px) {
            width: 160px;
        }
        @media (max-width: 767px) {
            width: 60px;
        }
    }
}

// Call to action
.call-to-action {
    background: url("../images/cta-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .call-to-action-content {
        @media (max-width: 991px) {
            padding-bottom: 80px;
            text-align: center;
        }
        .cta-heading {
            max-width: 440px;
            color: var(--sky-blue);
            @media (max-width: 991px) {
                
            max-width: 100%;
                text-align: center;
            }
        }
        p {
            font-size: 20px;
            color: #fff;
        }
    }
}

// Footer area
.footer-area {
    font-size: 16px;
    color: var(--dark-2);
    padding-block: 20px;
    border-top: 1px solid rgba(47, 66, 231, 0.13);
}

.contact-info-icon img {
    @media (max-width: 991px) {
        max-width: 40px;
    }
}